.propertySelect {
  color: black;
}

.property-suggest-details {
  margin-top: 15px;
  line-height: 1.5rem;
}

.property-suggest-items {
  margin-top: 5px;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}

.zillow-branding {
  font-size: 10px;
  line-height: 10px;
}

select.property-select {
  display: inline;
  width: calc(100% - 75px);
}

button.property-select {
  display: inline;
  width: 70px;
}
