<div class="propertySelect">
  <div bsModal #propertySelectModal="bs-modal" id='property-select-modal' class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="cancelSelect()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Select your address</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <select class="form-control property-select" [(ngModel)]="currentSuggestion" (ngModelChange)="selectedPropertyChange($event)" name='selectedProperty' required=true>
              <option value="" disabled>Select your Address</option>
              <option *ngFor="let propertyDetail of propertyDetails; let i = index" value={{i}}>{{propertyDetail.address}}</option>
            </select>
            <button type="button" class="btn btn-default" (click)="selectProperty()"> Select </button>
            <div *ngIf="currentProperty" class='property-suggest-details'>
              <div class="row">
                <div class="col-xs-12 col-sm-6 property-suggest-items">
                  <a [href]="currentProperty.homeDetailsLink" target="_blank">
                    <img *ngIf="currentSuggestion >= 0" src="/api/street-view/getStreetView?address={{currentProperty.address}}&access_token={{token}}" style='max-width:100%;max-height:250px;'>
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 property-suggest-items">
                  <a [href]="currentProperty.homeDetailsLink" target="_blank">
                    <p> <b> {{currentProperty.address}}</b> </p>
                    <p> {{currentProperty.finishedSqFt || 'Unknown'}} sqft </p>
                    <p> {{currentProperty.bedrooms || 'Unknown'}} beds </p>
                    <p> {{currentProperty.bathrooms || 'Unknown'}} baths </p>
                    <p *ngIf="currentProperty.estimate"> <b> Zestimate<sup>®</sup>: </b> {{currentProperty.estimate | currency:'USD':true:'1.0-0'}} </p>
                    <p *ngIf="currentProperty.lastSoldDate"> <b> Last Sold Date: </b> {{currentProperty.lastSoldDate | date}} </p>
                    <div class='zillow-branding'>
                      <p> © Zillow, Inc., 2006-2016. Use is subject to <a href='http://www.zillow.com/corp/Terms.htm'> Terms of Use </a></p>
                      <p> <a href="http://www.zillow.com/wikipages/What-is-a-Zestimate/"> What's a Zestimate? </a></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-xs-12">
              <a href="https://www.zillow.com/">
                <img src="assets/img/zillow/zillow_logo.gif" style="height:25px; width:100px; float:right" alt="Real Estate on Zillow">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
